<div class="relative bg-white">
    <div class="mx-auto px-6 sm:px-6">
        <div class="flex justify-left items-left px-16 py-2 md:justify-start md:space-x-16">
            <!-- NAV MENU (sidebar nav menu)-->
            <div class="hidden md:flex space-x-10">
                {% for link in section.settings.menu.links %}
                    {% if link.links != blank %}
                        <div class="relative">
                            <button class="inline-flex items-start">
                                {{ link.title }}
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Navigation Menu"
        }
    ]
}
{% endschema %}