<div class="relative min-h-screen md:flex">

	<!-- mobile menu bar-->
	<div class="md:hidden" style=" margin: auto; width: 50%; padding: 10px 10px;">
		
		<!-- mobile menu logo -->
		<a href="/" class="header__heading-link link link--text focus-inset items-center" itemprop="url" style="padding-top:28.88%; display: block;">
			<img srcset="//cdn.shopify.com/s/files/1/0549/8883/3012/files/onew_c1bc2e46-361e-4213-9997-496508f33b86_140x.png?v=1635352459 1x, //cdn.shopify.com/s/files/1/0549/8883/3012/files/onew_c1bc2e46-361e-4213-9997-496508f33b86_140x@2x.png?v=1635352459 2x" src="//cdn.shopify.com/s/files/1/0549/8883/3012/files/onew_c1bc2e46-361e-4213-9997-496508f33b86_140x.png?v=1635352459" loading="lazy" class="header__heading-logo" width="140" height="59" alt="Olamina Botanicals">
		<a/>
		
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>

		<body>

		<div class="mobile-menu-button container p-10" onclick="myFunction(this)" >
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>
		
		<script>
			function myFunction(x) {
			x.classList.toggle("change");
			}
		</script>
		
		</body>
		</div>
	
		<!-- sidebar -->
		<div class="sidebar hidden md:flex w-68 space-x-12 py-1 px-7 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
		
			<!-- logo -->
			<!-- <a href="/" class="header__heading-link link link--text focus-inset items-center space-x-2" itemprop="url" style="padding-top:28.88%; padding-left:18.88%; display: block;">
			<img srcset="//cdn.shopify.com/s/files/1/0549/8883/3012/files/onew_c1bc2e46-361e-4213-9997-496508f33b86_140x.png?v=1635352459 1x, //cdn.shopify.com/s/files/1/0549/8883/3012/files/onew_c1bc2e46-361e-4213-9997-496508f33b86_140x@2x.png?v=1635352459 2x" src="//cdn.shopify.com/s/files/1/0549/8883/3012/files/onew_c1bc2e46-361e-4213-9997-496508f33b86_140x.png?v=1635352459" loading="lazy" class="header__heading-logo" width="140" height="59" alt="Olamina Botanicals">
			<a/> -->
		
			<!-- NAVIGATION MENU -->
			<!-- <nav >
				<h1 class="block font-bold py-2 px-4 translate-x-full md:relative md:translate-x-0">{{ shop.name }}</h1>
				<a href="/" class="block py-2 px-4">Tinctures</a>
				<a href="/" class="block py-2 px-4">Salves</a>
				<a href="/" class="block py-2 px-4">Wands</a>
				<a href="/" class="block py-2 px-4">Customized</a>
				<a href="/" class="block py-2 px-4">Kits</a>
				<a href="/" class="block py-2 px-4">Cards</a>
				<a href="/" class="block py-2 px-4">Consultations</a>
				<a href="/" class="block py-2 px-4">Subscriptions</a>
				<a href="/" class="block py-2 px-4">Cure X Ailment</a>
			</nav> -->

			
		</div>
	
	<!-- content -->
	<div class="p-20 font-bold">
		
	</div>
 </div>